<div class="tm-content-container">
  <figure class="mb-0">
    <img src="../public/img/sonny_1.jpg" alt="Image" class="img-fluid tm-img" />
  </figure>
  <div class="tm-content">
    <h4 class="mb-4">What's new?</h4>
    <h2 class="tm-page-title">News | <i>Date and time</i></h2>
    <p class="mb-4">
      ...Curabitur ac est dapibus, ultricies diam non, vestibulum odio. Sed
      ac nunc lacinia, maximus nisi non, efficitur lacus, Donec efficitur
      at dui non molestie.
    </p>
    <h2 class="tm-page-title">News | <i>Date and time</i></h2>
    <p class="mb-4">
      Verticard is provided by TemplateMo site for 100% free download. You can use it absolutely free for any
      website. Template re-distribution is NOT allowed on any kind of download website. Thank you.
    </p>
    <h2 class="tm-page-title">News | <i>Date and time</i></h2>
    <p class="mb-4">
      Verticard is provided by TemplateMo site for 100% free download. You can use it absolutely free for any
      website. Template re-distribution is NOT allowed on any kind of download website. Thank you.
    </p>
    <h2 class="tm-page-title">News  | <i>Date and time</i></h2>
    <p class="mb-4">
      Verticard is provided by TemplateMo site for 100% free download. You can use it absolutely free for any
      website. Template re-distribution is NOT allowed on any kind of download website. Thank you.
    </p>
  </div>
</div>